@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: hsl(300, 20%, 90%, 1);
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
}
#__next{
  height: 100vh;
}
.ant-form-item-label {
  width: 100px !important;
}